<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input matInput 
            type="text" 
            name="title"
            ngModel
            required
            placeholder="Enter post title"
            #title="ngModel"
            >
            <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea 
            matInput 
            name="content" 
            cols="30" 
            rows="6" 
            ngModel 
            required
            placeholder="Enter post content"
            #content="ngModel"
            ></textarea>
            <mat-error *ngIf="content.invalid">Please enter a post title</mat-error>
        </mat-form-field>
    
        <button mat-raised-button 
        color="primary"
        type="submit"
         >Create Post</button>
    </form>
</mat-card>